### **Im making first Jup Notebook.YAY.**

In [ ]:
print("This is my notebook.")

# **I love markdown.**
## *I really love markdown.*

Specifying my first variable, called INTEGER, which will have the value 12.

In [6]:
#set integer = 12
INTEGER=12

In [7]:
print(INTEGER)

12

In [8]:
#set FLOAT_PT equal to 12.0
FLOAT_PT=12.0

In [9]:
#print both integer and FLOAT_PT
print(INTEGER, FLOAT_PT)

12 12.0

In [13]:
#set string to "The integer is 12"
STRING="The integer is"

In [11]:
print(STRING)

The integer is 12

In [14]:
#print the integer is 12 using the variable name 
print(STRING, INTEGER)

The integer is 12

In [15]:
print("The sum is",INTEGER + FLOAT_PT)

The sum is 24.0

In [25]:
STRING2= 'This is a string.\n\n\n'
STRING3="This is also a string"
print(STRING2)
print(STRING3)

This is a string.



This is also a string

Applying methods for the first time

In [26]:
print(STRING)

The integer is

In [27]:
print(STRING.title())

The Integer Is

In [28]:
print(STRING.upper())

THE INTEGER IS

In [29]:
print(STRING.lower())

the integer is

In [33]:
print(f"The integer is  {INTEGER}, my favorite integer.".upper())

THE INTEGER IS  12, MY FAVORITE INTEGER.

In [40]:
#creating 3 variables with values 
FIRST="Jon"
LAST="Meb"
AGE=23

In [51]:
combined = print(f"My name is {FIRST} {LAST} and I'm {AGE} years old".upper())

MY NAME IS JON MEB AND I'M 23 YEARS OLD

Creating my very first list, which is analogous to an array in Bash. List, like arrays, are zero-based

In [58]:
#create list 
STUDENTS=['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita', 'Jon']

In [56]:
print(STUDENTS[4])

Lu

In [57]:
#see all students in the list
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita', 'Jon']

create my first nested list

In [59]:
#create nested list
MY_NEST=[[1,2,3,4], ['Jon', 'had', 'a', 'dog'], ['Coding', 'is', 'life']]

In [63]:
#indexing into nested list 
print(MY_NEST[0])
print(MY_NEST[1])
print(MY_NEST[2])

[1, 2, 3, 4]
['Jon', 'had', 'a', 'dog']
['Coding', 'is', 'life']

In [64]:
#indexing into indivual element in nested list
MY_NEST[2][2]

'life'

In [66]:
#indexing into indiv elemnts in nested list
print("Coding is making me question every last decision ive made in my", MY_NEST [2][2])

Coding is making me question every last decision ive made in my life

Lists are mutable. We can change things in our list. I want to add elements to my list. I will use a method called append to do this.

In [79]:
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita', 'Brenna']

In [80]:
#append method
STUDENTS.append('Brenna')
STUDENTS.append('Jon')
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita', 'Brenna', 'Brenna', 'Jon']

We can also remove elements from a list. We remove them based on their index using a method called pop. It takes the format listname.pop(#)

In [84]:
#take someone out of list
print(STUDENTS)
STUDENTS.pop(9)
print(STUDENTS)

['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita', 'Brenna', 'Jon']
['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita', 'Brenna']

In [91]:
POPPED=STUDENTS.pop(8)
print(POPPED)
print(STUDENTS)

Brenna
['Sariyah', 'Elie', 'Juhi', 'Kena', 'Lu', 'Caroline', 'Shari', 'Hasita']

Sometimes you want to reverse the order of your list. this means put last index first

In [89]:
STUDENTS.reverse()

In [88]:
print(STUDENTS)

['Brenna', 'Hasita', 'Shari', 'Caroline', 'Lu', 'Kena', 'Juhi', 'Elie', 'Sariyah']

In [92]:
BOLOGNA='oscar' #create new string variable 
BOLOGNA_LIST=[] #creates an empty list

In [93]:
print(BOLOGNA)
print(BOLOGNA_LIST)

oscar
[]

In [95]:
#loop through string to create a list
for CHAR in BOLOGNA: #for variable character in variable bologna 
    BOLOGNA_LIST.append(CHAR)
#lose your indent to get out of your loop
print("My bologna has a first name. It's", BOLOGNA_LIST, ".")

My bologna has a first name. It's ['o', 's', 'c', 'a', 'r', 'o', 's', 'c', 'a', 'r'] .

In [103]:
print(FIRST)
print("The last letter of my name is", FIRST[2])

Jon
The last letter of my name is n

slicing is splitting a string into charcater. You can index into a string just like you can index into a list. one or may

In [110]:
print(FIRST)
print('The Last letter of my name is:',FIRST[])

Jon

IndexError: string index out of range

In [111]:
#splicing many charctaers from a string at once 
FULLNAME='Brenna Levine'
print(FULLNAME)
NEW_FIRST=FULLNAME [0:6] #charcters 0 through 5
NEW_LAST=FULLNAME [7:13] #charcters 7 throgh 12
print('First name:', NEW_FIRST)
print('Last name:', NEW_LAST)

Brenna Levine
First name: Brenna
Last name: Levine

In [114]:
#create a nested list 
ELEMENTS=[['fluorine', 'F'], 
          ['chlorine', 'Cl'],
          ['bromine', 'Br'], 
          ['hydrogen', 'H'], 
          ['helium', 'He']]

In [115]:
print(ELEMENTS)

[['fluorine', 'F'], ['chlorine', 'Cl'], ['bromine', 'Br'], ['hydrogen', 'H'], ['helium', 'He']]

In [116]:
#splice the last 3 list in the nested list (in elements) 
ELEMENTS[-3:]

[['bromine', 'Br'], ['hydrogen', 'H'], ['helium', 'He']]